# Ignore Terraform state files
*.tfstate
*.tfstate.*
*.terraform.*

# Ignore Terraform files containing secrets
secrets.tfvars

# Ignore Terraform logs
*.log

# Ignore .terraform directory
.terraform/
